// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

aside.sidebar img.sidebar-img-no-border {
  box-shadow: none;
  border-radius: 0;
  border: none;
  padding: 0.3em;
}

.fb_iframe_widget {
  line-height: 12px;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, dl, dt, em, embed, fieldset, figcaption, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, q, ruby, s, samp, section, small, strike, strong, sub, summary, sup, time, tt, u, ul, var, video {
  font-family: "calluna", serif;
}

// `` highlighted code
p code, li code {
  font-family: "calluna", serif;
}

p, li {
  font-size: 22px;
  line-height: 1.6;
}

ul, ul ul, ul ol, ol, ol ul, ol ol {
  margin-left: 1.3em;
}
