// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

aside.sidebar img.sidebar-img-no-border {
  box-shadow: none;
  border-radius: 0;
  border: none;
  padding: 0.3em;
}

.fb_iframe_widget {
  line-height: 12px;
}

p {
  font-size: 22px;
  line-height: 1.6;
}
